.landing{
  z-index: 1;
  background: linear-gradient(-45deg, #ffde4d,
    #ffde4d77, #6964fe88, #6964fe);
  background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  animation: animate 10s ease infinite;
}

h3{
  color: rgb(70, 70, 70);
}

@media screen and (max-width: 768px) {

.landing{
  height: 100%;
}

}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
