<div class="container-lg text-center d-flex flex-column justify-content-center">
  <div class="my-5  icon-social d-flex justify-content-around">
    <div class="circle instagram row justify-content-center align-items-center animate__animated animate__slideInDown">
      <a href="https://www.instagram.com/seqa_official/" target="_blank" class="mx-3 fs-1 text-center">
      <i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="circle facebook row justify-content-center align-items-center animate__animated animate__slideInUp">
      <a href="https://www.facebook.com/seqaofficial" target="_blank" class="mx-3 fs-1 text-center "><i
          class="fa-brands fa-facebook"></i></a>
    </div>
    <div class="circle tiktok row justify-content-center align-items-center animate__animated animate__slideInDown">
      <a href="#" class="mx-3 fs-1 text-center"><i
          class="fa-brands fa-tiktok"></i></a>
    </div>
    <div class="circle facebook row justify-content-center align-items-center animate__animated animate__slideInUp">
      <a href="https://www.linkedin.com/company/seqa-sicurezza-e-qualit%C3%A0-alimentare/" target="_blank" class="mx-3 fs-1 text-center"><i
          class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="circle whatsapp row justify-content-center align-items-center animate__animated animate__slideInDown">
      <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" class="mx-3 fs-1 text-center">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Chiama SEQA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="">
            <h3>Potete contattarci telefonicamente ai seguenti recapiti</h3>
            <div><i class="fa-solid fa-mobile"></i><em> Dott.</em> <h5 class="d-inline"> Nici: 3272141556</h5></div>
            <div><i class="fa-solid fa-mobile"></i><em> Dott.</em> <h5 class="d-inline"> Califano: 3517786645</h5></div>
            <div><p>Oppure su</p></div>
            <div class="whatsapp"><i class="fa-brands fa-whatsapp"></i></div>
            <div class="my-3"><h1>Prenota la tua consulenza gratuita</h1></div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 d-flex justify-content-around">
    <div class="circle-site row justify-content-center align-items-center animate__animated animate__slideInRight">
      <a href="https://seqa.it/" target="_blank" class="mx-3 fs-1 text-center site-text">
      www.seqa.it
      </a>
      <h6>Visita il nostro sito e scopri tutii i nostri servizi</h6>
    </div>
  </div>
  <div class="my-5 d-flex justify-content-around">
    <div class="circle-site row justify-content-center align-items-center animate__animated animate__slideInLeft">
      <a href="https://formazione-seqa.it/" target="_blank" class="mx-3 fs-1 text-center site-text">
        www.formazione-seqa.it
        </a>
        <h6>Scopri tutte le nostre formazioni online - tutti i nostri corsi si svolgono online <br> sono riconosciuti in tutta Italia</h6>
    </div>
  </div>


</div>
